In [10]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

steps = pd.read_csv('steps.csv')
survey = pd.read_csv('survey.csv')

steps.head()
survey.head()

#ax = sns.boxplot(x='User_Score', data=videogames)

,id,city,gender,age,hh_size,education,education_1,height,weight
0,1,Bordeaux,Male,25-34,4,4,Master or doctorate,178.0,98.0
1,2,Lille,Male,35-44,1,3,Bachelor,180.0,77.0
2,3,Montpellier,Male,25-34,2,2,Master or doctorate,180.0,83.0
3,4,Lyon,Male,<25,1,1,Bachelor,178.0,80.0
4,5,Montpellier,Female,25-34,3,4,Bachelor,167.0,61.0